{% extends "base.html" %}
{% block more_head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
{% endblock %}

{% block content %}
<div class="log-form">
  <h2>Login to your account</h2>
  <form action="" method="post">
      <input name="username" type="text" title="username" placeholder="username" value="{{ request.form.username }}">
      <input name="password" type="password" title="username" placeholder="password" value="{{ request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
      <a class="forgot" href="#">Forgot Username?</a>
  </form>
  {% if error %}
  <p class="error"><strong>Error:</strong> {{ error }}</p>
  {% endif %}
</div>
{% endblock %}
